* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  display: flex;
}

/* Sidebar */

/* MAIN */
.main {
  margin-left: 320px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 0px;
  padding-right: 0px;
  width: calc(100% - 350px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

/* Image Upload Section */
.image-section {
  width: 586px;
}

.image-large,
.img-box {
  background: #00000033 center center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 50px 50px;
  color: #635d5de9;
  cursor: pointer;
}

.image-large {
  width: 100%;
  height: 293px;
  font-size: 64px;

  border-radius: 25px;
  margin-bottom: 10px;
}

.image-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.img-box {
  width: 33%;
  height: 120px;
  font-size: 32px;
  border-radius: 20px;
}

/* Form */
.activity-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px auto 0 auto;
}

.field input,
.field textarea {
  padding: 12px 16px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-weight: 700;
  font-size: 12px;
  color: #2b2d42;
}

.field input,
.field textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 4px #00000040;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.field input {
  height: 40px;
}

textarea {
  height: 80px;
  resize: none;
}

.create-btn {
  background: #ef233c;
  border: none;
  width: 121px;
  height: 37px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}
